@using FortuneCookie.BuildStatus.Web.Models
@model BuildStatusViewModel

<div class="good full">

<h2>Success<span> - all builds are good.</span></h2>
<p>The @Html.DisplayFor(m => Model.ServiceDetails) are currently healthy.</p>

</div>