@using FortuneCookie.BuildStatus.Web.Models
@model BuildStatusViewModel

<div class="notconnected full">

<h2>Sort of <span>- this is worse than broken.</span></h2>
<p>Cannot connect to one or more servers from @Html.DisplayFor(m => Model.ServiceDetails) Are the servers available?</p>

</div>